BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
